$primary-color: #f26522;
$primary-hover: #d8652f;

#map {
  height: 220px;
  position: relative;
  z-index: 0;
}

.address,
.p-style {
  color: white;
  font-weight: 600;
  font-size: 14px;
  line-height: 32px;
}

::ng-deep .ol-viewport {
  border-radius: 15px;
}

.title {
  color: $primary-color ;
  margin-right: -9px;
}

.img-logo {
  max-width: 130px;
  display: flex;
  float: right;
  margin: 20px
}

a {
  text-decoration: none;

  &:hover {
    color: $primary-color ;
  }
}