@use '@angular/material' as mat;
@use './src_theme-colors.scss' as my-theme;

html {
  @include mat.theme((
    color: (
      primary: my-theme.$primary-palette,
      tertiary: my-theme.$tertiary-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}


@font-face {
  font-family: 'Vazir';
  src: url('font/vazir-font-v16.1.0/Vazir-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Vazir', sans-serif;
  margin: 0;
  padding: 0 !important;
  width: 100%;
  background-color: black;
  --mat-form-field-container-text-font: 'Vazir', sans-serif;
  --mat-form-field-container-text-size: 14px;
}

.dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: middle;
  transform: translateY(1px);
  content: '';
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

.dropdown-menu[data-bs-popper] {
  top: 100%;
  left: 0;
  transform: translate(-16px, -2px);
  margin-top: var(--bs-dropdown-spacer);
}

.error-snackbar {
  // --mat-snack-bar-container-color: #eea27f;
  // --mat-snack-bar-supporting-text-color: #ffffff;
  // --mat-snack-bar-button-color: #ffffff;
  --mat-snack-bar-supporting-text-size: 13px;
  --mat-snack-bar-supporting-text-font: 'Vazir', sans-serif;
}

.orange-input {
  --mat-form-field-outlined-focus-outline-color: #f26522;
  --mat-form-field-outlined-focus-label-text-color: #f26522;
  --mat-form-field-outlined-caret-color: #f26522;
  --mat-form-field-outlined-hover-outline-color: #f26522;
  --mat-form-field-outlined-input-text-color: #ffffff;
  --mat-form-field-outlined-label-text-populated-size: 16px;
  --mat-form-field-outlined-label-text-size: 14px;
  --mat-form-field-outlined-label-text-font: 'Vazir', sans-serif;

  --mat-form-field-outlined-outline-width: 2px;
  --mat-form-field-container-height: 45px;
  --mat-form-field-container-vertical-padding: 10px;
  --mat-form-field-outlined-container-shape: 10px;
}
