<div class="hero" style="background-image: url('img/copper-alloy-rods.jpg')">
  <div class="overlay"></div>
  <div>
    <a class="site-logo" routerLink="/home">
      <img src="img/farasanaat-logo.png" alt="گروه صنعتی فرا صنعت ایران" />
    </a>
  </div>
  <div class="content">
    <h1>گروه صنعتی فراصنعت ایران</h1>
    <p class="p-title">تولید قطعات و مقاطع برنجی</p>
  </div>
</div>

<div class="ticker-wrapper mt-3">
  <div class="ticker-content">
    @for (item of indicators(); track item.id) {
      <div class="ticker-item">
        <span class="dot"></span>
        <span class="title">{{ item.title }}</span>
        <span class="price-value">{{ item.p | number }}</span>

        <div class="price-info">
          <span
            class="change-icon"
            [class.up]="item.dt === 'high'"
            [class.down]="item.dt === 'low'"
            [class.neutral]="!item.dt"
          >
            {{ item.dt === 'high' ? '▲' : item.dt === 'low' ? '▼' : '−' }}
          </span>

          <span
            class="change-value"
            [class.up]="item.dt === 'high'"
            [class.down]="item.dt === 'low'"
            [class.neutral]="!item.dt"
          >
            {{ item.d ?? 0 | number }}
          </span>

          <span
            class="percentage"
            [class.up]="item.dt === 'high'"
            [class.down]="item.dt === 'low'"
            [class.neutral]="!item.dt"
          >
            (%{{ item.dp ?? 0 }})
          </span>
        </div>
      </div>
    }

    @for (item of indicators(); track 'copy-' + item.id) {
      <div class="ticker-item">
        <span class="dot"></span>
        <span class="title">{{ item.title }}</span>
        <span class="price-value">{{ item.p | number }}</span>

        <div class="price-info">
          <span
            class="change-icon"
            [class.up]="item.dt === 'high'"
            [class.down]="item.dt === 'low'"
            [class.neutral]="!item.dt"
          >
            {{ item.dt === 'high' ? '▲' : item.dt === 'low' ? '▼' : '−' }}
          </span>

          <span
            class="change-value"
            [class.up]="item.dt === 'high'"
            [class.down]="item.dt === 'low'"
            [class.neutral]="!item.dt"
          >
            {{ item.d ?? 0 | number }}
          </span>

          <span
            class="percentage"
            [class.up]="item.dt === 'high'"
            [class.down]="item.dt === 'low'"
            [class.neutral]="!item.dt"
          >
            (%{{ item.dp ?? 0 }})
          </span>
        </div>
      </div>
    }
  </div>
  <div
    class="floating-widget"
    [class.expanded]="isExpanded()"
    (mouseenter)="expand()"
    (mouseleave)="collapse()"
    (click)="toggle()"
  >
    <div class="icon-wrapper">
      <img src="img/touch-icon-ipad.png" alt="tgju" class="icon-image" />
    </div>

    <a [href]="linkUrl" class="content-wrapper" target="_blank">
      <span>TGJU.ORG</span>
    </a>
  </div>
</div>

<section class="products-section py-5">
  <div class="container mt-3">
    <div class="mb-5">
      <h4 class="m-0 fw-bold gold-text text-center">محصولات</h4>
    </div>
    <div class="row g-4 justify-content-center">
      @for (product of products(); track product.id) {
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <a [routerLink]="['/products', product.id]" class="text-decoration-none text-dark">
            <div class="product-card">
              <div class="product-image">
                <img [src]="product.image" [alt]="product.nameFa" class="img-fluid" />
              </div>
              <div class="product-info text-end">
                <p class="mb-1">{{ product.nameFa }}</p>
                <div class="card-accent-line" [style.background-color]="product.accentColor"></div>
              </div>
            </div>
          </a>
        </div>
      }
    </div>
  </div>
</section>

<div class="d-flex justify-content-center mt-3 mb-4">
  <button class="btn catalog-btn">دانلود کاتالوگ</button>
</div>

<div class="d-flex justify-content-center mt-5">
  <button class="btn catalog-btn" (click)="goToWeightCalculation()"> جدول محاسبه وزن</button>
  
</div>

<div>
  <app-assist-with-us></app-assist-with-us>
</div>
<div class="mt-5">
  <app-footer></app-footer>
</div>
