<app-navbar></app-navbar>
<div class="hero" style="background-image: url('img/copper-alloy-rods.jpg')">
  <div class="overlay"></div>

  <div class="content">
    <h1>گروه صنعتی فراصنعت ایران</h1>
    <p class="p-title">تولید قطعات و مقاطع برنجی</p>
  </div>

  <div class="wave">
    <svg viewBox="0 0 1920 220" preserveAspectRatio="none">
      <path
        fill="#222831"
        d="M0,110 
         C250,150 450,215 650,220 
         C900,225 1300,140 1920,40 
         L1920,220 
         L0,220 
         Z"
      />
      <path
        d="M580,217 
         C820,214 1300,125 1920,25 
         L1920,55 
         C1300,148 820,225 580,217 
         Z"
        fill="#f26522"
      />
    </svg>
  </div>
</div>
<div style="height: 200vh;">


<!-- home.html -->
<!-- price-ticker.component.html -->
<div class="ticker-wrapper mt-5">
  <div class="ticker-content">
    <!-- لیست اصلی -->
    @for (item of indicators(); track item.id) {
      <div class="ticker-item">
        <span class="price-value">{{ item.p | number}}</span>
        <div class="price-info">
          <span class="percentage">(%{{ item.dp || 0 }})</span>
          <span class="change-icon" [class.up]="+item.d >= 0" [class.down]="+item.d < 0">
             {{ +item.d >= 0 ? '▲' : '▼' }}
          </span>
          <span class="dot"></span>
          <span class="title">{{ item.title }}</span>
        </div>
      </div>
    }
    
    <!-- تکرار لیست برای حرکت بی‌وقفه (Infinite Scroll) -->
    @for (item of indicators(); track 'copy-' + item.id) {
      <div class="ticker-item">
        <span class="price-value">{{ item.p | number}}</span>
        <div class="price-info">
          <span class="percentage">(%{{ item.dp || 0 }})</span>
          <span class="change-icon" [class.up]="+item.d >= 0" [class.down]="+item.d < 0">
             {{ +item.d >= 0 ? '▲' : '▼' }}
          </span>
          <span class="dot"></span>
          <span class="title">{{ item.title }}</span>
        </div>
      </div>
    }
  </div>
</div>








</div>